@import url(./common.scss);


div.chatting{
  height:100%;
  overflow-x: hidden;

  .tab_bar>ul>li:nth-child(2)>a{
    color: #513736;
  }

.preview_bg{
    z-index:500;
    position: fixed;
    display: none;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

  form{
    position: absolute;
    width:200px;
    height: 200px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    color:#f2f2f2;

    img{
      position: absolute;
      left:50%;
      transform: translateX(-50%);
    }
  }


  .pic_back_btn,.pic_send_btn{
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    width:100px;
    height: 30px;
    background:#730D28;
    text-align: center;
    line-height: 30px;
    letter-spacing: 8px;
    border-radius: 10px;
    color:#f2f2f2;
    border:none;
    cursor: pointer;
  }

  .pic_back_btn{
    top:120%;
  }
  .pic_send_btn{
    top:140%;
  }

  
  }

header {
  color: #000;
  background-color: #A6374B;
  border-bottom: 1px solid #F2F2F2;
  z-index:10;
}

.title_bar {

  h1{
    color:#F2F2F2;
  }

  .left_item > a {
    color: #F2F2F2;
    opacity: 1;
    font-size: 24px;
  }

  .right_item {a {
    color: #F2F2F2;
    font-size: 16px;

    svg {
      padding-left: 5px;
    }
  }
}
}

/* main */

main {
  position: relative;
  display:flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  padding-top: 64px;
  padding-bottom:100px;
  background: #A6374B url("../images/chat_bg.png") no-repeat center center;
  background-attachment: fixed;
  background-size: 50%;

.date_info {
  opacity: 0.5;
  text-align: center;
  margin: 10px;
}

/* 공통 */

.chat_box {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  max-width: calc(100% - 80px);
  position: relative;
  margin-bottom:20px;
}

.chat {
  font-size: 16px;
  line-height: 1;
  margin: 5px;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #BFB3A8;
  color:#fff;
  padding:15px;
  word-break: break-all;
}

/* my */

.my {
  align-self: flex-end;
  align-items: flex-end;
  max-width: 240px;
  margin-right: 10px;


  .chat {
    word-break: break-all;
    padding:15px;
    background: #730D28;
    color:#f2f2f2;
  }

  .my_chat_box{
    display: flex;
    align-items: end;
    position: relative;

    &:hover button{
      display: block;
    }


    button{
      width:25px;
      height: 25px;
      background:#BFB3A8;
      border: none;
      margin:5px;
      border-radius: 5px;
      display: none;
      &:first-child{
        margin-right:0px;

      }

    }
  }


  .img_box{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap:10px;


    &:hover button{
      display: block;
    }

    button{
      display: none;
      width:30px;
      height: 30px;
      background:#BFB3A8;
      border: none;
      border-radius: 5px;
    }

    img{
      width:200px;
      height: 200px;
      border-radius: 20px;
    }
  }
  .chat_time {
    position: absolute;
    left: -40px;
    bottom: 0px;
    width: 50px;
    opacity: 0.8;
  }
}

/* other */

.other {
  margin-left: 55px;
  margin-top: 20px;
}

.profile_img {
  position: absolute;
  left: -55px;
  top: -5px;
  width: 35px;
  height: 35px;
}

.profile_name {
  display: block;
  font-weight: bold;
  margin: 5px;
}

.other .chat_time {
  position: absolute;
  right: -30px;
  bottom: -5px;
  width: 50px;
  opacity: 0.5;
}
}
/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 55px;
  width: 100%;
  height: 45px;
  background: #eee;

  .plus_btn {
    color: #b3b4b4;
    padding-left: 15px;
    font-size: 16px;
  }
  
  form {
    width: calc(100% - 40px);
    display: flex;
    justify-content: flex-end;
  }
  
  fieldset.text_box {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  
  .text_field {
    width: calc(100% - 40px);
    height: 32px;
    outline: none;
  }
  
  .emoticon_btn {
    position: absolute;
    right: 45px;
  
    a {
      color: #b3b4b4;
    }
}
}


.send_btn {
  display: block;
  width: 34px;
  height: 37px;
  border: none;
  margin-right: 5px;
  line-height: 37px;
  text-align: center;
  background: #A6374B;
  font-size: 16px;

  svg path{
    stroke:#F2F2F2;
    
  }
}
}